div{
  transition: 1.5s;
  -webkit-transition: 1.5s; /* Safari and Chrome */
  -moz-transition: 1.5s;; /* Firefox */
  -ms-transition: 1.5s; /* IE 9+ */
  -o-transition: 1.5s; /* Opera */
}

hr{
  border: 0.5px solid;
  margin-top: 50px;
}


.img1{ background: url("images/jessie/1.jpg") no-repeat center top; }
.img2{ background: url("images/jessie/2.jpg") no-repeat center top; }
.img3{ background: url("images/jessie/3.jpg") no-repeat center top; }
.img4{ background: url("images/jessie/4.jpg") no-repeat center top; }
.img5{ background: url("images/jessie/5.jpg") no-repeat center top; }
.img6{ background: url("images/jessie/6.jpg") no-repeat center top; }
.img7{ background: url("images/jessie/7.jpg") no-repeat center top; }

.img1:hover{ background: url("images/jessie/1canny.png") no-repeat center top; }
.img2:hover{ background: url("images/jessie/2canny.png") no-repeat center top; }
.img3:hover{ background: url("images/jessie/3canny.png") no-repeat center top; }
.img4:hover{ background: url("images/jessie/4canny.png") no-repeat center top; }
.img5:hover{ background: url("images/jessie/5canny.png") no-repeat center top; }
.img6:hover{ background: url("images/jessie/6canny.png") no-repeat center top; }
.img7:hover{ background: url("images/jessie/7canny.png") no-repeat center top; }

.images{
  margin-top: 50px;
}
